@import url("https://fonts.googleapis.com/css2?family=Poppins:wght@200;400;600&display=swap");

* {
    box-sizing: border-box;
    margin: 0;
    padding: 0;
}

body {
    background-color: #2a2a72;
    text-align: center;
    align-items: center;
    font-family: "Poppins", sans-serif;
}

#search {
    background-color: #4c2885;
    border-radius: 10px;
    border: none;
    width: 90%;
    color: white;
    font-family: inherit;
    font-size: 1rem;
    padding: 1rem;
    margin: 2rem 0;
    outline: none;
}
#search::placeholder {
    color: #bbb;
}

#submit {
    background-color: #4c2885;
    border-radius: 30px;
    border: none;
    width: 175px;
    color: white;
    font-family: inherit;
    font-size: 1rem;
    padding: 0.75rem;
    margin-bottom: 2rem;
}
#submit:hover {
    background-color: #7b42d7;
    cursor: pointer;
}

main {
    width: 90%;
    margin: auto;
    height: 60vh;
}